#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0     keys to add:        &bt BT_SEL 0   thru   &bt BT_SEL 5   
            bindings = <
                &kp Q       &kp W           &kp E           &kp R       &kp T                                   &kp Y       &kp U       &kp I           &kp O           &kp P
                &kp A       &kp S           &kp D           &kp F       &kp G       &bootloader     &sys_reset  &kp H       &kp J       &kp K           &kp L           &kp SEMI
                &kp Z       &kp X           &kp C           &kp V       &kp B       &bt BT_CLR      &bt BT_CLR  &kp N       &kp M       &kp COMMA       &kp DOT         &kp SLASH
                            &bt BT_SEL 0    &bt BT_SEL 1    &kp TAB     &kp BSPC    &kp X           &kp X       &kp SPACE   &kp ENTER   &bt BT_SEL 2    &bt BT_SEL 3
            >;
        };

    };

 };